node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Ignore Editor and IDE specific files
.idea
.vscode

# Ignore build
/dist

# Migration files
/prisma/migrations

update_restart_health_api.sh

package-lock.json